@using ESP.Models.Domains;
@model ESP.Models.AddQuestionViewModel
@using (Html.BeginForm()) { }

<h1>Add Question</h1>
<form method="post" action="Add" class="mt-5">
    <div class="mb-3" >
        <label for="" class="form-label">Question</label>
        <input type="text" class="form-control" asp-for="Text" >
    </div>
    @* <div class="mb-3" >
        <label for="" class="form-label">Question Category</label>
        <input type="text" class="form-control" asp-for="Category" >
    </div>*@
    <div class="u-form-group u-label-top">
            <label asp-for="Category" class="control-label">Question Category</label>
        @Html.DropDownListFor(m => m.Category,new SelectList(Enum.GetValues(typeof(param))),"Select Param",new {@class = "form-control"})
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Answer A</label>
        <input type="text" class="form-control" asp-for="AnswerA">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Answer B</label>
        <input type="text" class="form-control" asp-for="AnswerB">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Answer C</label>
        <input type="text" class="form-control" asp-for="AnswerC">
    </div>
    <div class="u-form-group u-label-top">
        <label asp-for="CorrectAnswer" class="control-label">Poprawna Odpowiedź</label>
        @Html.DropDownListFor(m => m.Category,new SelectList(Enum.GetValues(typeof(odp))),"Select Param",new {@class = "form-control"})
    </div>
    <div class="mb-3">
        <label for="" class="form-label">SelectedOption</label>
        <input type="hidden" class="form-control" asp-for="SelectedOption" value="0">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>