@model int

<h2>Niestety, nie zdałeś testu.</h2>
<p>Masz wynik: @Model</p>
<p>Spróbuj ponownie, aby uzyskać lepszy wynik.</p>
<a class="nav-link text-dark" asp-area="" asp-controller="Question" asp-action="TestQuest">Start Test</a>